* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

body {
    font-family: Tavolga, sans-serif;
    position: relative;
}

@font-face {
    font-family: GilroyRegular;
    src: url("../fonts/gilroy-regular.woff2");
}

@font-face {
    font-family: GilroyMedium;
    src: url("../fonts/gilroy-medium.woff2");
}

@font-face {
    font-family: GilroyBold;
    src: url("../fonts/gilroy-bold.woff2");
}

@font-face {
    font-family: GilroyExtraBold;
    src: url("../fonts/gilroy_extrabold.woff2");
}

@font-face {
    font-family: Tavolga;
    src: url("../fonts/tavolga_free.woff2");
}


.header {
    padding-top: 38px;
    background: #eba8b1;
    overflow: hidden;
}

.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger{
    position: relative;
    width: 40px;
    height: 22px;
}

.header__burger span{
    position: absolute;
    background-color: #821328;
    left: 0;
    width: 100%;
    height: 2px;
    top: 10px;

}

.header__burger:before,
.header__burger:after{
    content: '';
    background-color: #821328;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}

.header__burger:before{
    top: 0;
}

.header__burger:after{
    bottom: 0;
}


.menu {
    margin-left: 232px;
    margin-right: 328px;
    width: 313px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .3s ease-in;
}

.menu__item:hover {
    border-bottom: 2px solid #821328;
}


.menu__link {
    font-family: GilroyMedium, sans-serif;
    font-size: 14px;
    color: rgb(119, 11, 29);
}

.phone {
    font-size: 16px;
    font-family: GilroyBold, sans-serif;
    color: rgb(255, 255, 255);
}

.header__inner {
    padding-top: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 108px;
}

.header__info {
    max-width: 580px;
}

.header__title {
    font-family: Tavolga, sans-serif;
    font-size: 55px;
    color: rgb(255, 255, 255);
    line-height: 1.091;
    margin-bottom: 60px;
}

.header__desc {
    font-family: Tavolga, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.389;
    margin-bottom: 80px;
    max-width: 349px;
}

.btn {
    background: linear-gradient(0deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    font-family: GilroyBold, sans-serif;
    letter-spacing: 0.4px;
    line-height: 1;
    color: rgb(255, 255, 255);
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

.header__btn {
    padding: 22px 41px 21px 41px;
    border-radius: 30px;
    font-size: 18px;
}

.btn:hover {
    box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.header__image {
    transform: translateX(-20px);
}

.header__image::before,
.header__image::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    border: 1px solid #a26c73;
    border-radius: 50%;
    z-index: -1;
    animation: pulse 3s infinite;
}

.header__image::after {
    animation: pulse 3s infinite 0.5s;
}

@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(3.5);
        opacity: 0;
    }
}

.benefits {
    padding: 119px 0 120px 0;
}

.benefits__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 83px;
}

.benefits__text {
    max-width: 475px;
}

.title {
    font-family: Tavolga, sans-serif;
    font-size: 45px;
    color: rgb(51, 25, 7);
    line-height: 1.222;
}

.benefits__title {
    margin-bottom: 60px;
}

.benefits_desc {
    font-family: GilroyRegular, sans-serif;
    font-size: 18px;
    color: rgb(51, 25, 7);
    line-height: 1.556;
}

.benefits__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

.benefits__item {
    width: 220px;
}

.benefits__circle {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #821328;
    margin-bottom: 13px;
    transition: all .5s ease;
}

.benefits__span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -21%);
    font-family: GilroyExtraBold, sans-serif;
    font-size: 60px;
    color: #fff;
    line-height: 70px;
    transition: all .5s ease;

}

.benefits__item:hover .benefits__circle {
    background: #eba8b1;
}

.benefits__item:hover .benefits__span {
    color: #821328;
}

.benefits__item-subtitle {
    font-family: GilroyExtraBold, sans-serif;
    font-size: 20px;
    color: rgb(51, 25, 7);
    margin-bottom: 20px;
}

.benefits__item-desc {
    font-size: 15px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.333;
}

.catalog {
    padding: 120px 0 120px 0;
    background: #eba8b1;
}

.catalog__items {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 263px);
    justify-content: space-between;
}

.catalog__title {
    text-align: center;
    color: #fff;
    margin-bottom: 143px;
}

.catalog__item {
    position: relative;
    width: 263px;
    padding: 109px 20px 27px 20px;
    border: 2px solid #fff;
    border-radius: 30px;
}

.catalog__item:hover .catalog__image {
    transform: scale(1.1);
}

.catalog__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    margin-bottom: 26px;
}

.catalog__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog__btn {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 0.7;
    border-radius: 25px;
    padding: 19px 29px 20px 29px;
}

.catalog__amount {
    font-family: GilroyRegular, sans-serif;
    font-size: 15px;
    line-height: 1;
    color: #fff;
}

.number__catalog {
    margin-bottom: 16px;
}

.catalog__image {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -25%;
    transition: all .5s ease;
}


.order {
    padding: 98px 0 120px;
}

.order__inner {
    position: relative;
    display: flex;
}

.order__image {
    position: relative;
    margin-right: 163px;
}

.order__berry-one {
    position: absolute;
    top: -30px;
    left: -25px;
    animation: jump 3s infinite linear;
}

@keyframes jump {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0px);
    }
}

.order__info {
    max-width: 406px;
    position: relative;
}


.order__title {
    margin-bottom: 41px;
}

.order_desc {
    font-family: GilroyRegular, sans-serif;
    font-size: 18px;
    color: rgb(51, 25, 7);
    line-height: 1.556;
    margin-bottom: 48px;
}

.order__subtitle {
    font-family: GilroyBold, sans-serif;
    font-size: 18px;
    line-height: 1;
    color: #120a06;
    margin-bottom: 20px;
}

.input {
    width: 294px;
    padding: 22px 25px 24px;
    border-radius: 30px;
    border: 1px solid #821328;
    outline: none;
    font-family: GilroyBold, sans-serif;
    font-size: 15px;
    letter-spacing: 0.4;
    color: #760c22;
}

.name__input, .phone__input {
    margin-bottom: 15px;
}

.order__input {
    margin-bottom: 40px;
}

.input::placeholder {
    font-family: GilroyBold, sans-serif;
    font-size: 15px;
    letter-spacing: 0.4;
    color: #760c22;
}

.order__btn {
    font-size: 18px;
    line-height: 1;
    padding: 22px 75px 21px 75px;
    border-radius: 30px;
}

.order__berry-two {
    position: absolute;
    right: 0;
    bottom: 60px;
    animation: jump 3s infinite .5s linear;
}


.footer {
    padding: 73px 0 62px;
    background: #c0707c;
    overflow: hidden;
}

.logo {
    display: block;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__rights {
    font-family: GilroyRegular, sans-serif;
    font-size: 12px;
    color: #e3acb4;
    position: relative;
    top: -19px;
}

.footer__instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram_icon {
    width: 35px;
    height: 35px;
}

.instagram-text {
    font-family: GilroyBold, sans-serif;
    font-size: 16px;
    color: #fff;
    margin-top: 15px;
}

.present {
    position: absolute;
    bottom: 48px;
    right: 48px;
    background: radial-gradient(#71081e, #d7485c);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;
}

.popup__text {
    position: absolute;
    width: 172px;
    right: 117px;
    bottom: 9px;
    padding: 15px 10px 14px;
    background: white;
    border: 2px solid #770a1d;
    border-radius: 10px;
    font-family: GilroyMedium, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #770a1d;
    transition: all .5s ease;
    opacity: 0;
    transform: translateY(57px);

}

.popup__text:before {
    content: '';
    position: absolute;
    right: -30px;
    bottom: 17px;
    border: 15px solid transparent;
    border-left: 15px solid #770a1d;
}

.popup__text:after {
    content: '';
    position: absolute;
    right: -27px;
    bottom: 17px;
    border: 15px solid transparent;
    border-left: 15px solid #fff;
}


.present:hover .popup__text {
    opacity: 1;
    transform: translateY(0);
}

.present:hover {
    box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.header__burger{
    display: none;
}

.menu__close{
    display: none;
}